
#theTeam > div > div > img {
    width: 100%;
}

#theTeam > div > .four.columns {
    background-color: #eee;
    padding: 1em;
}

#theTeam > h3 {
    padding-top: 2em;
    width: 100%;
    border-top: solid 1px #2c2c2c;
}

div {
    padding: 0.5em;
}

#orreryImg {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

#navContainer {
    padding-top: 5%;
    margin-bottom: 3em;
}

h3 {
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

h4 {
    font-size: 1.3em;
    text-align: center;
    margin: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 0.5em;
}

h5 {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 1.2em;
    margin: 0;
}

#historyP {
    text-align: justify;
}

#rittenhouse {
    width: 25%;
    margin: 1em;
}

textarea {
    height: auto;
    margin-bottom: 2em;
}

#editDescription, #addDescription {
    display: none;
}

.row {
    text-align: center;
}

#signin, #signout{
    display: none;
    position: fixed;
    text-align: right;
    right: 1em;
    top: 1em;
}

#imgs {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#imgs > img {
    width: 100%;
}

#teamImg {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#teamImg > img {
    width: 48%;
}