
#orreryImg {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

#navContainer {
    padding-top: 5%;
    margin-bottom: 3em;
}

h3 {
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

#historyP {
    text-align: justify;
}

#rittenhouse {
    width: 25%;
    margin: 1em;
}

textarea {
    height: auto;
    margin-bottom: 2em;
}

#editDescription {
    display: none;
}