
.container {
	width: 100%;
	position: fixed;
	bottom: 5%;
}

body{
	
}

h3{
	color: #fefefe;
	font-weight: 100;
}

#orreryImg {
	width: 100%;
	height: auto;
	margin-bottom: 3em;
}

#navContainer {
	margin-left: 2em;
	text-align: left;
}

#vidContainer {
	text-align: center;
}

a.button{
	background-color: rgba(255,255,255,0.8);
}

a.button:hover {
	background-color: rgb(255,255,255);
}

video#bgVid {
	position: fixed; left: 0%; top: 0%;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url("../data/vidPoster.png") no-repeat;
	background-size: cover;
}