html { 

}

body {
	border: none;
}

h3 {
	text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

h3:hover {
    cursor: pointer;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: rgba(255, 255, 255, 0.8);
}


#container {
    display: none;
	/*text-align: center;*/
    margin-bottom: 1em;
}

#homeBtn {
    margin-left: 5%;
    cursor: pointer;
    vertical-align: center;
}

#info {
    display: none;
    width: 20%;
    height: 60%;
    position: fixed;
    right: 1em;
    bottom: 5%;
    padding: 1em;
    color: #FFE688;
    border: solid 2 px rgba(42,85,140, 0.8);
}

#name {
    color: #ECCC58;
}

/*#loading {
    display: none;
    z-index: 100;
    background-image: url("../images/ajax-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    top: 300px;
    left: 400px;
    width: 66px;
    height: 66px;
}*/

#szlider{
    z-index: 100;
    background-position: center;
    width:80%;
    height:25px;
    border:1px solid #000;
    overflow:hidden; 
    position: absolute;
    top: 300px;
    left: 400px;}


#szliderbar{
    width:0%;
    height:25px;
    border-right: 1px solid #000000;
    background: #000066; }

#szazalek {
    color: #ffffff;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    left: 15px;
    position: relative;
    top: -23px; }


